.aboutme__content
    .aboutme__left
        .user
            +image('content/kir.jpg', 'user-pic')
        .user-info
            table
                tr
                    td.info Проживаю:
                    td.infoabout Тверь
                tr
                    td.info Возраст:
                    td.infoabout 25 лет
                tr
                    td.info Родился:
                    td.infoabout 11.02.1994
    .aboutme__right
        .metitle
            h4.metitle__greeting Привет, меня зовут
            h2.metitle__name Кирилл Глазов
        .metext
            .metext__up Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные проекты.
            .metext__down Этот сайт сделан в рамках обучения в Школе онлайн-образования LoftSchool. Совсем скоро этот сайт будет наполнен актуальным контентом. Пока вы можете посмотретиь как тут всё классно и красиво.


